{% extends 'header.html' %}
{% load static %}

{% block title %}
    <title>File Management - URL Driver</title>
{% endblock %}

{% block content %}
<body>
    <form class="file-uploader" action="{% url 'file_upload' %}" method="post">
        {% csrf_token %}
        <div class="container mt-2">
            <div class="mb-3">
                <label for="new_url" class="form-label">Insert URL</label>
                <input type="text" class="form-control" id="new_url" placeholder="mypath/myfolder/File Location" name="new_url">
            </div>
            <div class="mb-3">
                OR
            </div>
            <div class="mb-3">
                <label for="url" class="form-label">Choose from an existing URL</label>
                <select class="form-select form-select-sm" aria-label="Existing URL" id="url" name="url">
                    <option value="">Select...</option>
                    {% for url in urls %}
                        <option value="{{url.1}}">{{url.1}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="file" class="form-label">Choose file to be uploaded</label>
                <input class="form-control" type="file" id="file" name="file" required>
            </div>
            <button class="btn btn-success" type="submit">Upload</button>
            <br>
            <br>
            <p style="color: hsl(217, 10%, 50.8%)">
                To download your files, access the URL created and the name and version of the desired file.
                Example: To download the first version of review.pdf file from "documents/reviews", you should access
                through "127.0.0.1:8000/file_management/documents/reviews/review.pdf?=revision=0", or
                "127.0.0.1:8000/file_management/documents/reviews/review.pdf" to download the latest file.
          </p>
        </div>
    </form>
</body>
<script>
    $(document).ready(function() {
        $('.file-uploader').submit(function(event) {
            event.preventDefault();

            let formData = new FormData(this);
            let csrfToken = $("input[name='csrfmiddlewaretoken']").val();

            $.ajax({
                url: $(this).attr('action'),
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                headers: { "X-CSRFToken": csrfToken },
                success: function (response) {
                    alert(response.message)
                },
                error: function (response) {
                    alert(response.error)
                }
            })
        })
    })

</script>
{% endblock %}