{% extends 'header.html' %}
{% load static %}

{% block title %}
    <title>Login - URL Driver</title>
{% endblock %}

{% block content %}
<style>
    .rounded-t-5 {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    @media (min-width: 992px) {
        .rounded-tr-lg-0 {
            border-top-right-radius: 0;
        }

        .rounded-bl-lg-5 {
                border-bottom-left-radius: 0.5rem;
        }
    }
</style>
<body>
    <section class=" text-center text-lg-start">
        <div class="card mb-3">
            <div class="row g-0 d-flex align-items-center">
                <div class="col-lg-4 d-none d-lg-flex">
                    <img src="https://media.istockphoto.com/id/184112820/photo/file-folders.jpg?s=612x612&w=0&k=20&c=ER_EL2ub_ShscO8Ae21W0C9LzWWezAxvWNLGO0uZLGw=" alt="Shelves with numerous organized file folders"
                    class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
                </div>
                <div class="col-lg-8">
                    <div class="card-body py-5 px-md-5">
                        <form method="POST">
                            {% csrf_token %}
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text" id="email" name="email" class="form-control" />
                                <label class="form-label" for="email">Email address</label>
                            </div>
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="password" id="password" name="password" class="form-control" />
                                <label class="form-label" for="password">Password</label>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <a href="{% url 'password_reset' %}">Forgot password?</a>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                            <div class="row mb-4">
                                <div class="col">
                                    <a href="{% url 'signup' %}">Don't have an account? Sign up now!</a>
                                </div>
                            </div>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-danger">{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}